In [513]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()

In [514]:
data = pd.read_csv("/home/vabs/Documents/interview-assignment/New folder/tf.csv")

In [515]:
data = data.apply(preprocessing.LabelEncoder().fit_transform)

In [516]:
print(data.columns)

Index(['Store', 'Dept', 'Date', 'Sales', 'IsHoliday', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment', 'Type', 'Size'],
      dtype='object')

In [517]:
data.shape

(344667, 11)

In [518]:
target_class = data['Sales']

In [519]:
target_class.shape

(344667,)

In [520]:
train_data = data.drop('Sales', axis=1)

In [505]:
train_data = train_data.apply(preprocessing.LabelEncoder().fit_transform)

In [421]:
train_data.shape
le = preprocessing.LabelEncoder()
train_data['Date'] = le.fit_transform(train_data['Date'])

In [422]:
train_data['IsHoliday'] = le.fit_transform(train_data['IsHoliday'])

In [423]:
train_data['Type'] = le.fit_transform(train_data['Type'])

In [491]:
train_data.head()

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,0,0,99,0,676,15,873,173,0,21
1,0,1,99,0,676,15,873,173,0,21
2,0,2,99,0,676,15,873,173,0,21
3,0,3,99,0,676,15,873,173,0,21
4,0,4,99,0,676,15,873,173,0,21

In [492]:
train_data.shape,target_class.shape, target_class.name

((344667, 10), (344667,), 'Sales')

In [313]:
scaler.fit(train_data)
train_data = scaler.transform(train_data)

In [401]:
train_data.head()

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,1,99,0,5.73,2.572,211.096358,8.106,0,151315
1,1,2,99,0,5.73,2.572,211.096358,8.106,0,151315
2,1,3,99,0,5.73,2.572,211.096358,8.106,0,151315
3,1,4,99,0,5.73,2.572,211.096358,8.106,0,151315
4,1,5,99,0,5.73,2.572,211.096358,8.106,0,151315

In [506]:
sample_data = train_data
sample_data = sample_data.drop(['Store','Date','Temperature','Fuel_Price','Unemployment','Type'],axis = 1)

In [507]:
sample_data.head()

   Dept  IsHoliday  CPI  Size
0     0          0  873    21
1     1          0  873    21
2     2          0  873    21
3     3          0  873    21
4     4          0  873    21

In [521]:
clf = linear_model.LinearRegression()

In [428]:
clf = linear_model.SGDRegressor()

In [397]:
clf = RandomForestClassifier(n_estimators=10)

In [509]:
x_train, x_test, y_train, y_test = train_test_split(
...     sample_data, target_class, test_size=0.3, random_state=7)

In [494]:
x_train, x_test, y_train, y_test = train_test_split(
...     train_data, target_class, test_size=0.3, random_state=7)

In [510]:
clf.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [254]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train, y_train)

ModuleNotFoundError: No module named 'xgboost'

In [522]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, train_data, target_class, cv=100)

In [511]:
scores = clf.score(x_test,y_test)

In [523]:
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: -0.02 (+/- 0.14)

In [199]:
clf.fit(train_data, target_class)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

0.0609342881695

In [200]:
test_data = pd.read_csv("/home/vabs/Documents/interview-assignment/New folder/ftest.csv")

In [201]:
test_data.head()

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,1,4-May-16,False,24.19,3.749,221.6718,7.143,A,151315
1,1,2,4-May-16,False,24.19,3.749,221.6718,7.143,A,151315
2,1,3,4-May-16,False,24.19,3.749,221.6718,7.143,A,151315
3,1,4,4-May-16,False,24.19,3.749,221.6718,7.143,A,151315
4,1,5,4-May-16,False,24.19,3.749,221.6718,7.143,A,151315

In [202]:
train_data.head()

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,1,99,0,5.73,2.572,211.096358,8.106,0,151315
1,1,2,99,0,5.73,2.572,211.096358,8.106,0,151315
2,1,3,99,0,5.73,2.572,211.096358,8.106,0,151315
3,1,4,99,0,5.73,2.572,211.096358,8.106,0,151315
4,1,5,99,0,5.73,2.572,211.096358,8.106,0,151315

In [203]:
test_data['IsHoliday'] = le.fit_transform(test_data['IsHoliday'])
test_data['Date'] = le.fit_transform(test_data['Date'])
test_data['Type'] = le.fit_transform(test_data['Type'])

In [153]:
test_data.head()

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,1,42,0,24.19,3.749,221.6718,7.143,0,151315
1,1,2,42,0,24.19,3.749,221.6718,7.143,0,151315
2,1,3,42,0,24.19,3.749,221.6718,7.143,0,151315
3,1,4,42,0,24.19,3.749,221.6718,7.143,0,151315
4,1,5,42,0,24.19,3.749,221.6718,7.143,0,151315

In [204]:
test_data.head()

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,1,42,0,24.19,3.749,221.6718,7.143,0,151315
1,1,2,42,0,24.19,3.749,221.6718,7.143,0,151315
2,1,3,42,0,24.19,3.749,221.6718,7.143,0,151315
3,1,4,42,0,24.19,3.749,221.6718,7.143,0,151315
4,1,5,42,0,24.19,3.749,221.6718,7.143,0,151315

In [205]:
import matplotlib.pyplot as plt
plt.plot(train_data, 'ro')

[<matplotlib.lines.Line2D at 0x7fa5eadce940>,
 <matplotlib.lines.Line2D at 0x7fa5eacea668>,
 <matplotlib.lines.Line2D at 0x7fa5eaceab70>,
 <matplotlib.lines.Line2D at 0x7fa5eae93d68>,
 <matplotlib.lines.Line2D at 0x7fa5eae939e8>,
 <matplotlib.lines.Line2D at 0x7fa5eae93470>,
 <matplotlib.lines.Line2D at 0x7fa5eae93828>,
 <matplotlib.lines.Line2D at 0x7fa5eae934e0>,
 <matplotlib.lines.Line2D at 0x7fa5eaebc630>,
 <matplotlib.lines.Line2D at 0x7fa5eaebcd68>]

In [206]:
sales_prediction = clf.predict(test_data)

In [207]:
print(sales_prediction)

[ 12983.05688507  13093.92728496  13204.79768486 ...,  17388.36192172
  17610.10272151  17720.97312141]

In [208]:
test = pd.read_csv("/home/vabs/Documents/interview-assignment/New folder/test.csv")
test = test.drop('SalesForecast',axis = 1)
test['SalesForecast'] = sales_prediction
test.to_csv("/home/vabs/Documents/interview-assignment/New folder/final.csv",index=False)

In [209]:
test.tail()

        Store  Dept       Date IsHoliday  SalesForecast
153800     45    93  26-Apr-17     False   17166.621122
153801     45    94  26-Apr-17     False   17277.491522
153802     45    95  26-Apr-17     False   17388.361922
153803     45    97  26-Apr-17     False   17610.102722
153804     45    98  26-Apr-17     False   17720.973121

In [99]:
target_class.head()

0    24924.50
1    50605.27
2    13740.12
3    39954.04
4    32229.38
Name: Sales, dtype: float64

In [101]:
test = pd.read_csv("/home/vabs/Documents/interview-assignment/New folder/test.csv")

In [102]:
test = test.drop('SalesForecast',axis = 1)

In [103]:
test.head()

   Store  Dept      Date IsHoliday
0      1     1  4-May-16     False
1      1     2  4-May-16     False
2      1     3  4-May-16     False
3      1     4  4-May-16     False
4      1     5  4-May-16     False

In [104]:
test['SalesForecast'] = sales_prediction

In [105]:
test.head()

   Store  Dept      Date IsHoliday  SalesForecast
0      1     1  4-May-16     False   2.325317e+14
1      1     2  4-May-16     False   2.326409e+14
2      1     3  4-May-16     False   2.327500e+14
3      1     4  4-May-16     False   2.328591e+14
4      1     5  4-May-16     False   2.329682e+14

In [106]:
test.to_csv("/home/vabs/Documents/interview-assignment/New folder/sol.csv",index=False)

In [224]:
data.tail()

,Store,Dept,Date,Sales,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
344662,45,93,27-Apr-16,2135.32,False,11.78,4.004,190.868006,8.567,B,118221
344663,45,94,27-Apr-16,3109.40,False,11.78,4.004,190.868006,8.567,B,118221
344664,45,95,27-Apr-16,50693.76,False,11.78,4.004,190.868006,8.567,B,118221
344665,45,97,27-Apr-16,6579.76,False,11.78,4.004,190.868006,8.567,B,118221
344666,45,98,27-Apr-16,619.41,False,11.78,4.004,190.868006,8.567,B,118221

In [214]:
data1 = data[:50000]

In [215]:
data1.to_csv("/home/vabs/Documents/interview-assignment/New folder/data1.csv",index=False)

In [229]:
train_data.iloc[1]

Store                1.000000
Dept                 2.000000
Date                99.000000
IsHoliday            0.000000
Temperature          5.730000
Fuel_Price           2.572000
CPI                211.096358
Unemployment         8.106000
Type                 0.000000
Size            151315.000000
Name: 1, dtype: float64

In [231]:
print(clf.predict(train_data.iloc[1]))

[ 12657.0283814]

/home/vabs/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)